<DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <div th:replace="bootstrap/title.html"></div>
    <div th:replace="bootstrap/bootstrap_head.html"></div>
  </head>

  <body>
    <div class="container">
      <div th:replace="bootstrap/bootstrap_nav_header.html"></div>

      <div class="row">
        <div class="col-md-6">
          <h2 class="my-5">Tutor Check In</h2>

          <h2>Add New Entry</h2>

          <div th:replace="tutorCheckinIn/entries"></div>

          <h2>Past Entries</h2>
          <table class="table table-striped table-responsive-md">
            <thead>
              <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Remarks</th>
              </tr>
            </thead>
<!--
            <tbody>
              <tr th:each="t: ${tutor}">
                <td th:text="${t.id}"></td>
                <td th:text="${t.date}"></td>
                <td th:text="${t.remarks}"></td>
              </tr>

            </tbody>-->

            <!-- <tbody>
              <tr th:each="ra : ${RoomAvailabilityModel}">
                <td th:text="${ra.quarter}"></td>
                <td th:text="${ra.day}"></td>
                <td th:text="${ra.getTime12HrFormat(ra.startTime)}"></td>
                <td th:text="${ra.getTime12HrFormat(ra.endTime)}"></td>
                <td th:text="${ra.room}"></td>
                <td><button type="button" class="btn btn-secondary edit" th:attr="data-raid=${ra.getId()}"><i class="far fa-edit"></i></button></td>
                <td><button type="button" class="btn btn-danger delete" th:attr="data-raid=${ra.getId()}"><i class="fas fa-trash-alt"></i></button></td>
              </tr>
            </tbody> -->
          </table>


        </div>
      </div>

      <div th:replace="bootstrap/bootstrap_footer.html"></div>
    </div>
    <div th:replace="bootstrap/bootstrap_scripts.html"></div>
  </body>
</html>
