<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <div th:replace="bootstrap/title.html"></div>
  <div th:replace="bootstrap/bootstrap_head.html"></div>
</head>

<body>
  <div class="container">
    <div th:replace="bootstrap/bootstrap_nav_header.html"></div>

    <div class="row">
      <div class="col-md-6">
        <h2 class="my-5", th:text="${courseOffering.quarter + ' ' + courseOffering.courseId}"></h2>
        <table class="table table-striped table-responsive-md">
          <thead>
            <tr>
              <th>Name</th>
              <th>Assigned?</th>
              <th>isCourseLead?</th>
              <th>Tutor Type</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="tutor, iterStat : ${tutors}">
              <td th:text="${tutor.firstName + ' ' + tutor.lastName}"></td>
              <td>
                <input class="tutorAssignmentCheckBox" type="checkbox" th:checked="${shouldBeChecked.test(tutor)}"
                  th:attr="data-tid=${tutor.id},data-cid=${courseOffering.id}" />
              </td>
              <td>
                <input class="isCourseLeadCheckBox" type="checkbox" th:checked="${shouldBeChecked2.test(tutor)}"
                th:attr="data-tid=${tutor.id},data-cid=${courseOffering.id}"/>
              </td>
              <td>
              <input type="radio" name="type" value="1">TA</input>
              <input type="radio" name="type" value="2">LA</input>
              <input type="radio" name="type" value="3">190J</input>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div th:replace="bootstrap/bootstrap_footer.html"></div>
  </div>
  <div th:replace="bootstrap/bootstrap_scripts.html"></div>

  <script th:inline="javascript">
    /*<![CDATA[*/
    $(".tutorAssignmentCheckBox").click(e => {
      e.preventDefault()
      e.stopImmediatePropagation()

      if (e.target.checked) {
        $.ajax({
          url: "/tutorAssignment/add",
          method: "POST",
          data: {
            tid: e.target.dataset.tid,
            cid: e.target.dataset.cid,
            lead: false,
            /*[[${_csrf.parameterName}]]: [[${_csrf.token}]]*/
          },
        }).then(() => {
          e.target.checked = true
        })
      } else {
        $.ajax({
          url: `/tutorAssignment/${e.target.dataset.cid}/${e.target.dataset.tid}`,
          method: "DELETE",
          data: {
            /*[[${_csrf.parameterName}]]: [[${_csrf.token}]]*/
          },
        }).then(() => {
          e.target.checked = false
        })
      }
    })
    /*]]>*/

    /*<![CDATA[*/
    $(".isCourseLeadCheckBox").click(e => {
      e.preventDefault()
      e.stopImmediatePropagation()

      if (e.target.checked) {
        $.ajax({
          url: "/tutorAssignment/update",
          method: "POST",
          data: {
            tid: e.target.dataset.tid,
            cid: e.target.dataset.cid,
            lead: true,
            /*[[${_csrf.parameterName}]]: [[${_csrf.token}]]*/
          },
        }).then(() => {
          e.target.checked = true
        })
      } else {
        $.ajax({
           url: `/tutorAssignment/update`,
           method: "POST",
           data: {
             tid: e.target.dataset.tid,
             cid: e.target.dataset.cid,
             lead: false,
             /*[[${_csrf.parameterName}]]: [[${_csrf.token}]]*/
           },
         }).then(() => {
             e.target.checked = false
         })

      }
    })
    /*]]>*/
  </script>
</body>

</html>
