{
    "spring.security.oauth2.client.registration.google.client-id":"ReplaceWithGoogleClientID",
    "spring.security.oauth2.client.registration.google.client-secret":"ReplaceWithGoogleClientSECRET"
}
