<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <div th:replace="bootstrap/title.html"></div>
  <div th:replace="bootstrap/bootstrap_head.html"></div>
</head>

<body>
  <div class="container">
    <div th:replace="bootstrap/bootstrap_nav_header.html"></div>

    <div class="row">
      <div class="col-md-6">

        <h2 class="my-5" id="header"></h2>
        <table class="table table-striped table-responsive-md">
          <thead>
            <tr>
              <th>Room</th>
              <th>Day</th>
              <th>Start Time</th>
              <th>End Time</th>
              <th>Tutor Count</th>
            </tr>
          </thead>
          <tbody>

            <tr th:each="tsa, i : ${uniqueTimeSlots}">
              <td th:text="${tsa.get(0).getTimeSlot().getRoomAvailability().getRoom().getName()}"></td>
              <td th:text="${tsa.get(0).getTimeSlot().getRoomAvailability().getDay()}"></td>
              <td
                th:text="${tsa.get(0).getTimeSlot().getRoomAvailability().getTime12HrFormat(tsa.get(0).getTimeSlot().getStartTime())}">
              </td>
              <td
                th:text="${tsa.get(0).getTimeSlot().getRoomAvailability().getTime12HrFormat(tsa.get(0).getTimeSlot().getEndTime())}">
              </td>
              <td th:text="${tsa.size()}"></td>
              <td>
                <button type="button" class="btn btn-secondary tutorInfo" th:attr="id=${i.index}">More Info</button>
                <div class="modal fade" th:id="'modal' + ${i.index}" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Tutor Info</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <span th:each="tutor, iStat: ${tsa}">
                          <div th:if="${iStat.index != 0}" class="dropdown-divider"></div>
                          <h5 th:text="${tutor.getCourseOffering().getCourseId()}"></h5>
                          <p th:text="${tutor.getTutor().getFullName()}"></p>
                        </span>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
    <div th:replace="bootstrap/bootstrap_footer.html"></div>
  </div>

  <div th:replace="bootstrap/bootstrap_scripts.html"></div>
  <script th:inline="javascript">
    /*<![CDATA[*/
    let quarter = /*[[${quarter}]]*/W20;
    let header = document.getElementById("header");
    header.textContent = "Time Slot Assignments for " + quarter;
    /*]]>*/
    $(document).on('click', '.dropdown-menu', function (e) {
      e.stopPropagation();
    });
    $(".tutorInfo").click(e => {
      let modalName = "#modal" + e.target.getAttribute("id");
      console.log(modalName);
      $(modalName).modal();
    })
  </script>
</body>

</html>