<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <div th:replace="bootstrap/title.html"></div>
  <div th:replace="bootstrap/bootstrap_head.html"></div>
</head>

<body>
  <div class="container">
    <div th:replace="bootstrap/bootstrap_nav_header.html"></div>

    <div class="row">
      <div class="col-md-6">
        <h2>All Course Assignments</h2>
        <table class="table table-striped table-responsive-md">
          <thead>
            <tr>
              <th>Quarter</th>
              <th>Course</th>
              <th>Instructor</th>
              <th>Instructor Email</th>
            </tr>

          </thead>
          <tbody>
            <tr th:each="courseOffering: ${CourseOfferings}">
              <td th:text="${courseOffering.getQuarter()}"></td>
              <td th:text="${courseOffering.courseId}"></td>
              <td th:text="${courseOffering.instructorName}"></td>
              <td th:text="${courseOffering.instructorEmail}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div th:replace="bootstrap/bootstrap_footer.html"></div>
  </div>
  <div th:replace="bootstrap/bootstrap_scripts.html"></div>
  <!-- <script th:inline="javascript">
    /*<![CDATA[*/
    $(".timeSlotAssignmentCheckBox").click(e => {
      e.preventDefault()
      e.stopImmediatePropagation()

      if (e.target.checked) {
        $.ajax({
          url: "/tutorSignUp/add",
          method: "POST",
          data: {
            tid: e.target.dataset.tid,
            sid: e.target.dataset.sid,
            cid: e.target.dataset.cid,
            /*[[${_csrf.parameterName}]]: [[${_csrf.token}]]*/
          },
        }).then(() => {
          e.target.checked = true
        })
      } else {
        $.ajax({
          url: `/tutorSignUp/${e.target.dataset.sid}/${e.target.dataset.tid}/${e.target.dataset.cid}`,
          method: "DELETE",
          data: {
            /*[[${_csrf.parameterName}]]: [[${_csrf.token}]]*/
          },
        }).then(() => {
          e.target.checked = false
        })
      }
    })
    /*]]>*/
  </script> -->
</body>

</html>
