<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <div th:replace="bootstrap/title.html"></div>
    <div th:replace="bootstrap/bootstrap_head.html"></div>
</head>

<body>
<div class="container">
    <div th:replace="bootstrap/bootstrap_nav_header.html"></div>

    <div class="row">
        <div class="col-md-6">

            <h2 class="my-5">My Tutors</h2>
            
            <a th:href="'/tutorAssignment/courseSelect/' + ${courseOffering.id}" class="btn btn-primary" style="display: inline-block" role="button">Manage</a>
            <br><br>

            <table class="table table-striped table-responsive-md">
                <thead>
                <tr>
                    <th> Email</th>
                    <th> First Name </th>
                    <th> Last Name </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ta: ${tutors}">
                    <td th:text="${ta.tutor.email}"></td>
                    <td th:text="${ta.tutor.firstName}"></td>
                    <td th:text="${ta.tutor.lastName}"></td>
                </tr>
                </tbody>
            </table>
            
            <a th:href="'/InstructorMenu/downloadCSV/' + ${currentInstructorCourse.id}" th:text="${currentInstructorCourse.courseId}" class="btn btn-primary"
            >Download CSV<i class="fas fa-download"></i
            ></a>
            

        </div>
    </div>

    <div th:replace="bootstrap/bootstrap_footer.html"></div>
</div>
<div th:replace="bootstrap/bootstrap_scripts.html"></div>
</body>

</html>
