<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <div th:replace="bootstrap/title.html"></div>
  <div th:replace="bootstrap/bootstrap_head.html"></div>
</head>

<body>
  <div class="container">
    <div th:replace="bootstrap/bootstrap_nav_header.html"></div>
    
    <div class="row">
      <div class="col-md-6">
        <h2 class="my-5">My Courses</h2>
        <table data-toggle="table" data-search="true">
	  <thead>
	   <tr>
	    <th> Courses</th>
	    <th> Quarter</th>
    </tr>
  </thead>
        <tbody>
         <tr th:each="c: ${courses}">
          <td><a th:href="'/instructorMenu/' + ${c.id}" th:text="${c.courseId}"> </a></td>
    <td th:text="${c.quarter}"> </td>
    </tr>
          </tbody>
        </table>

      </div>
    </div>
    
    <div th:replace="bootstrap/bootstrap_footer.html"></div>
  </div>
  <div th:replace="bootstrap/bootstrap_scripts.html"></div>
  </body>
</html>
