<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <div th:replace="bootstrap/title.html"></div>
  <div th:replace="bootstrap/bootstrap_head.html"></div>
</head>
<body>
<div class="container">
  <div th:replace="bootstrap/bootstrap_nav_header.html"></div>

  <h3>Users</h3>
  <table class="table">
    <thead>
    <tr>
      <th>id</th>
      <th>first name</th>
      <th>last name</th>
      <th>email</th>
      <th>remove</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="u: ${users}">
      <td th:text="${u.id}"></td>
      <td th:text="${u.firstName}"></td>
      <td th:text="${u.lastName}"></td>
      <td th:text="${u.email}"></td>
      <td>
        <form th:action="@{/users/delete/{id}(id=${u.id})}" th:method="post">
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="form-group row">
    <div class="col-sm-10">
      <a href="/usersCSV" class="btn btn-primary"
         >Download CSV<i class="fas fa-download"></i
      ></a>
    </div>
  </div>

  <div th:replace="bootstrap/bootstrap_footer.html"></div>
</div>
<div th:replace="bootstrap/bootstrap_scripts.html"></div>
</body>
</html>