<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <div th:replace="bootstrap/title.html"></div>
    <div th:replace="bootstrap/bootstrap_head.html"></div>
</head>

<body>
    <div class="container">
        <div th:replace="bootstrap/bootstrap_nav_header.html"></div>
        
        <div class="row">
            <div class="col-md-6">
                <table class="table-striped table-responsive-md">
                    <thead>
                        <tr>
                            <th>Quarter</th>
                            <th>Day</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Room</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td><input type="text" id="quarter" th:attr="value=${(raExists)? ra.getQuarter() : ''}"></td>
                        <td>
                            <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" 
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <button class="dropdown-item" type="button">Monday</button>
                                <button class="dropdown-item" type="button">Tuesday</button>
                                <button class="dropdown-item" type="button">Wednesday</button>
                                <button class="dropdown-item" type="button">Thursday</button>
                                <button class="dropdown-item" type="button">Friday</button>
                                <button class="dropdown-item" type="button">Saturday</button>
                                <button class="dropdown-item" type="button">Sunday</button>
                            </div>
                          </div>
                        </td>
                        <td><input type="text" id="start" th:attr="value=${(raExists)? ra.getStartTime() : ''}"></td>
                        <td><input type="text" id="end" th:attr="value=${(raExists)? ra.getEndTime() : ''}"></td>
                        <td><input type="text" id="room" th:attr="value=${(raExists)? ra.getRoom() : ''}"></td>
                    </tbody>
                </table>
            </div>
        </div>
    
        <button type="button" id="save">Save</button>

        <div th:replace="bootstrap/bootstrap_footer.html"></div>
    </div>
    <div th:replace="bootstrap/bootstrap_scripts.html"></div>

    <script th:inline="javascript">
        $(".dropdown-item").click(e => {
            document.getElementById("dropdownMenuButton").textContent = e.target.textContent;
        })
        /*<![CDATA[*/
        var raExists = /*[[${raExists}]]*/false;
        if (raExists) {
            var raDay = /*[[${raDay}]]*/"Monday";
            document.getElementById("dropdownMenuButton").textContent = raDay;
            $("#save").click(e => {
                if(isNaN(document.getElementById("start").value) || 
                    isNaN(document.getElementById("end").value) ||
                    parseInt(document.getElementById("start").value) > 2400 ||
                    parseInt(document.getElementById("end").value) > 2400)
                    {
                    alert("Please input a valid time (in 24 hour time, with no colon)");
                }
                else {
                    $.ajax({
                        url: "/roomAvailability/save",
                        method: "PUT",
                        data: {
                            id: /*[[${raID}]]*/0,
                            quarter: document.getElementById("quarter").value,
                            day: document.getElementById("dropdownMenuButton").textContent,
                            start: document.getElementById("start").value,
                            end: document.getElementById("end").value,
                            room: document.getElementById("room").value,
                            /*[[${_csrf.parameterName}]]: [[${_csrf.token}]]*/
                        },
                    }).done(function () {
                        console.log("saved");
                        window.location.href = "/roomAvailability";
                    }).fail(function (jqXHR, textStatus) {
                        console.log(jqXHR.responseText);
                    })
                }

            });
        } else {
            document.getElementById("dropdownMenuButton").textContent = "Monday";
            $("#save").click(e => {
                if(isNaN(document.getElementById("start").value) || isNaN(document.getElementById("end").value)) {
                    alert("Please input a valid time (in 24 hour time, with no colon)");
                }
                else {
                    $.ajax({
                        url: "/roomAvailability/create",
                        method: "POST",
                        data: {
                            quarter: document.getElementById("quarter").value,
                            day: document.getElementById("dropdownMenuButton").textContent,
                            start: document.getElementById("start").value,
                            end: document.getElementById("end").value,
                            room: document.getElementById("room").value,
                            /*[[${_csrf.parameterName}]]: [[${_csrf.token}]]*/
                        },
                    }).done(function () {
                        console.log("saved");
                        window.location.href = "/roomAvailability";
                    }).fail(function (jqXHR, textStatus) {
                        console.log(jqXHR.responseText);
                    })
                }
            });
        }
        
        /*]]>*/
    </script>
</body>

</html>