<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <div th:replace="bootstrap/title.html"></div>
    <div th:replace="bootstrap/bootstrap_head.html"></div>
</head>

<body>
    <div class="container">
        <div th:replace="bootstrap/bootstrap_nav_header.html"></div>

        <div class="row">
            <div class="col-md-8">

                <h2 class="my-5">CS56 W20 Open Lab Hours</h2>
                <br />
                <h4>Please confirm course deletion:</h4>

                <table class="table table-striped table-responsive-md">
                    <thead>
                        <tr>
                            <th>CourseId</th>
                            <th>Quarter</th>
                            <th>Instructor Name</th>
                            <th>Instructor Email</th>
                            <th> </th>
                            <th> </th>
                        </tr>
                    </thead>
                    <br />
                    <tbody>
                        <tr th:with="co=${CourseToDelete}">
                            <td th:text="${co.courseId}"></td>
                            <td th:text="${co.quarter}"></td>
                            <td th:text="${co.instructorName}"></td>
                            <td th:text="${co.instructorEmail}"></td>
                            <td>
                                <form th:action="@{/courseOffering/delete/confirm/{id}(id=${co.id})}" th:method="post">
                                    <button type="submit" class="btn btn-danger btn-block">Delete</button>
                                </form>
                            </td>
                            <td>
                                <form th:action="@{/courseOffering/}" th:method="get">
                                    <button type="submit" class="btn btn-primary btn-block">Cancel</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div th:replace="bootstrap/bootstrap_footer.html"></div>
    </div>
    <div th:replace="bootstrap/bootstrap_scripts.html"></div>
</body>

</html>